
/*- @group: colorbox -*/
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{}
    #cboxTopLeft{width:13px; height:25px; background:url(../images/colorbox/border1.png) no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(../images/colorbox/border1.png) repeat-x 0 -50px;}
    #cboxTopRight{width:13px; height:25px; background:url(../images/colorbox/border1.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:13px; height:3px; background:url(../images/colorbox/border1.png) no-repeat 0 -25px;}
    #cboxBottomCenter{ height:3px;background:url(../images/colorbox/border1.png) repeat-x 0 -86px;}
    #cboxBottomRight{width:13px; height:3px;  background:url(../images/colorbox/border1.png) no-repeat -37px -23px;}
    #cboxMiddleLeft{width:13px; background:url(../images/colorbox/border2.png) repeat-y 0 0;}
    #cboxMiddleRight{width:13px; background:url(../images/colorbox/border2.png) repeat-y -36px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#000; background:#000; height:50px;}
        #cboxCurrent{position:absolute; bottom:0px; left:205px; color:#777; font:normal 12px/50px Arial, Helvetica, sans-serif; border-left:1px solid #333; padding-left:15px;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px;color:#fff; }
        #cboxPrevious{position:absolute; bottom:0px; left:20px; color:#fff; font:normal 13px/50px 'Chivo',sans-serif; text-transform:uppercase; background:url(../images/colorbox/icon_prv.png) no-repeat left center; padding-left:15px; border-right:1px solid #333; padding-right:15px;height:50px; z-index:999}
        #cboxNext{position:absolute; bottom:0px; left:140px; color:#444;color:#fff; font:normal 13px/50px 'Chivo',sans-serif; text-transform:uppercase;background:url(../images/colorbox/icon_next.png) no-repeat right center; padding-right:15px;}
        #cboxLoadingOverlay{background:#fff url(../images/colorbox/loading.gif) no-repeat 5px 5px;}
        #cboxClose{position:absolute; bottom:0; right:0px; display:block; color:#fff;font:normal 13px/50px 'Chivo',sans-serif; text-transform:uppercase;background:#333 url(../images/colorbox/icon_close.png) no-repeat 70px center; padding-right:35px; padding-left:15px;}
		
		body.ch #cboxClose { padding-right:55px; }


#jmoverlay {
  background: none repeat scroll 0 0 #000000;
  height: 9000px;
  left: 0;
  opacity: 0.5;
 -moz-opacity:0.5; 
 -khtml-opacity: 0.5; 
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  position: absolute;
  top: 0;
  width: 100% !important;
  z-index: 98;
}

.cart-collaterals .totals {
  width: 100% !important;
}

.jmajaxloading{
  position: absolute;
  width:40px;
  height:43px;
  background: url("../images/8.gif") no-repeat scroll center center;
  display:none;
  right:0;
  z-index:999;
}


.features .icon {
	width: 70px;	
}

